{% extends 'blog/layout.html.twig' %}
{% block body %}
<h2>Ajouter un article</h2>
{% include 'blog/form.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
{% endblock javascripts %}