<h1>
	{{page}}
</h1>
<ul>
  {% for article in articles  %}
    <li>
      {{  article.titre }}
      {% if article.image is defined  %}
      <img src='{{article.image}}' />
      {% endif %}
    </li>
  {% else %}
    <li>aucun article trouvé</li>
  {% endfor %}
</ul>

</body>

